/*corrigir alguns detalhes de margem, escolher fontes, personalizar com a cara da marca*/
/*cores utilizadas: vinho - #3f1710 | marrom escuro - #171714 | bege escuro - #f3caa8 | bege claro - #ffe1bf */

/*                                           css global                                          */
html, body {
    overflow-y: scroll;
    height: 100%; 
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar {
    display: none;
}
body {
    background: 
        linear-gradient(rgba(63,23,16,0.5), rgba(63,23,16,0.5)),
        url('img/mat_idvisual/telainicialclean.png') no-repeat center top;
    /*background-size: cover;*/
    background-color: #ffe1bf;
    font-family: 'Montserrat', Arial, sans-serif;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: auto;
    overflow-y: scroll;
}
header {
    background: #3f1710; 
    color: #f3caa8;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    align-items: center;
    justify-content: space-between;
}
.logo {
    height: 40px;
    margin-right: 20px;
}
header h1 {
    font-size: 30px;
    margin: 0; 
    padding: 0;
    display: inline-block;
    white-space: nowrap;
    line-height: 1;
}
.fonte1 {
    font-family: 'Montserrat', Arial, sans-serif; 
    color: #fff;
}
.fonte2 {
    font-family: 'Playfair Display', serif; 
    color: #fff;
    font-style: italic;
    font-weight: 800;
}
.barra-lateral {
    position: fixed;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 0;
    background: #3f1710;
    border-radius: 10px;
    padding: 10px;
    z-index: 1000;
}
.barra-lateral .icone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 40px;
    color: white;
    text-decoration: none;
    font-size: 24px;
    transition: background 0.3s, transform 0.3s;
}
.barra-lateral .icone:hover {
    transform: scale(1.1);
    color: #f3caa8;
}
/*                                           css global                                          */


/*                                  estilização do index.html                                            */

.hero-banner {
    width: 100%;
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: transparent;
    color: #fff;
    margin-top: 80px; 
}


.hero-content h1 {
    font-size: 3.5rem;
    margin-bottom: 0px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: #ffffff;
}

.hero-content h4 {
    font-size: 1.0rem;
    margin: 0px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: #ffffff;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 0;
    font-family: 'Montserrat', Arial, sans-serif;
    color: #fff;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    font-family: 'Montserrat', Arial, sans-serif;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s;
}
nav ul li a:hover {
    color: #f3caa8; 
}
.hero {
    padding: 100px 20px;
    text-align: center;
}
.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}
.hero p {
    font-size: 16px;
    margin: 0 auto;
    max-width: 600px;
}
.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}
.btn:hover {
    background: #555;
}
/*                                      estilização do index.html                                         */


/*                                      estilização do eventos.html                                       */
.eventos {
    margin-top: 70px;
}
.galeria {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.proximos-eventos {
    margin-top: 15px;
    margin-bottom: 30px;
}
/*.eventos, .proximos-eventos {
    padding: 50px 20px;
    text-align: center;
    color: #333;
    
}*/
.eventos h2, .proximos-eventos h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #ffffff;
    font-family: 'Playfair Display'; 
    font-weight: 600;
}
.galeria, .galeria-eventos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
/*estilização de cada evento*/
.evento {
    background: #fff;
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 15px;
    max-width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.evento img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}
.evento h3 {
    font-size: 20px;
    margin: 10px 0;
    color: #333;
    font-family: 'Montserrat', Arial, sans-serif; 
}
.evento p {
    font-size: 16px;
    color: #666;
}
/*animação para destacar os eventos*/
.evento:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
/*                                      estilização do eventos.html                                       */

/*                                      estilização do produtos.html                                       */
.produtos {
    background: #fff;
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 15px;
    max-width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/*                                      estilização do produtos.html                                           */

/*                                         estilização do sobrenos.html                                         */

.sobre-nos-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 20px 40px 20px;
    border-radius: 18px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.sobre-nos-hero h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2.8rem;
    color: #ffffff;
    margin-bottom: 18px;
    font-weight: 700;
    letter-spacing: 1px;
}

.sobre-nos-hero p {
    font-size: 1.25rem;
    color: #fff;
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.6;
}

/* estilização para equipe */
.sobre-nos-equipe .cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
    margin-top: 24px;
}
.sobre-nos-equipe .card {
    background: #fff;
    color: #3f1710;
    border-radius: 14px;
    box-shadow: 0 2px 12px rgba(63,23,16,0.10);
    padding: 32px 20px 20px 20px;
    width: 480px;
    min-height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s, box-shadow 0.2s;
    word-break: break-word;
}
.sobre-nos-equipe .card img {
    width: 380px;
    height: 330px;
    object-fit: cover;
    border-radius: 14px;
    margin-bottom: 16px;
    border: 3px solid #f3caa8;
}
.sobre-nos-equipe .card h2 {
    font-size: 1.2rem;
    margin: 10px 0 6px 0;
    color: #3f1710;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}
.sobre-nos-equipe .card p {
    font-size: 1rem;
    color: #3f1710;
    margin: 0;
    text-align: center;
    white-space: pre-line;
}

/* estilização para ministério */
.sobre-nos-ministerio .ministerio-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
    margin-top: 24px;
    margin-bottom: 24px;
}
.sobre-nos-ministerio .ministerio-img {
    width: 320px;
    height: 320px;
    object-fit: cover;
    border-radius: 14px;
    box-shadow: 0 2px 12px rgba(63,23,16,0.10);
}
.sobre-nos-ministerio .ministerio-desc {
    max-width: 380px;
    color: #fff;
    font-size: 1.2rem;
    text-align: left;
}

/*                                             estilização do sobrenos.html                                        */

/*swipper e footer*/
footer {    
    background: transparent; 
    align-items: center;
    justify-content: center;
    padding: 16px;
    transition: .4s;
    border: none; 
    color: white; 
}

/*.contato {
    padding: 50px 20px;
    background: rgba(255, 255, 255, 0.9); 
    max-width: 600px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #333;
}
.contato h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column; 
}
.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}
.form-group input, .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; 
}
button[type="submit"] {
    width: 100%;
    padding: 10px;
    background: #25D366; 
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
button[type="submit"]:hover {
    background: #1DA851;
}*/
.swiper-container {
    position: relative;
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
    overflow: hidden;
}
.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px !important;
}
.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    color: #171714;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, background 0.3s ease;
}
.swiper-button-next {
    right: 10px;
}
.swiper-button-prev {
    left: 10px;
}
.swiper-container:hover .swiper-button-next,
.swiper-container:hover .swiper-button-prev {
    opacity: 1;
    pointer-events: auto;
}
.swiper-button-next::after, 
.swiper-button-prev::after {
    font-size: 10px;
    font-weight: bold;
}
.swiper-button-next:hover .swiper-button-next, 
.swiper-button-prev:hover .swiper-button-prev{
    transform: scale(1.1);
}


/*                                         estilização da página galeria.html                                      */

.pagina-galeria .galeria-container {
    padding: 50px;
    text-align: center;
    background-color: #ffe1bf;
    color: #171714;
}

.pagina-galeria .galeria-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #3f1710;
    font-family: 'Playfair Display', serif;
}

.pagina-galeria .galeria {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-rows: auto; 
    gap: 10px;
    align-items: stretch;
}

.pagina-galeria .galeria img {
    display: block;
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pagina-galeria .galeria img:hover {
    transform: scale(1.05); 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3); 
}

/*                                         estilização da página galeria.html                                      */

/*                                              media queries                                           */
@media (max-width: 768px) {
    .top-bar nav {
        flex-direction: column;
        align-items: flex-start;
    }
    .top-menu {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }
    .top-menu li {
        margin: 10px 0;
    }
    .logo {
        width: 120px;
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {
    .hero-banner {
        min-height: 40vh;
        padding: 30px 10px;
    }
    .hero-content h1 {
        font-size: 1.5rem;
    }
    .hero-content p {
        font-size: 1rem;
    }
}

/*@media (max-width: 600px) {
    .barra-lateral {
        top: auto;
        bottom: 10px;
        right: 10px;
        left: auto;
        transform: none;
        flex-direction: row;
        padding: 5px 10px;
        border-radius: 30px;
        width: auto;
        min-width: 0;
        max-width: none;
        align-items: center;
        justify-content: flex-end;
        box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    }
    .barra-lateral .icone {
        width: 40px;
        height: 40px;
        font-size: 22px;
        margin: 0 4px;
        flex: 0 0 auto; 
    }
}*/

@media (max-width: 480px) {
    body {
        padding: 0 5px;
    }
    .hero-content {
        padding: 10px;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
@media (max-width: 768px) {
    .hero {
        padding: 80px 15px;
    }
    nav ul li {
        margin: 0 5px;
    }
}